*{
    margin: 0px;
    padding: 0px;

}

body{
    font-family: 'segoe UI' ;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}

.container{
    height: auto;
    border: 1px solid pink;
    width: 80%;

}

header{
    border: 1px solid pink;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 50px;
    height: 50px;
    clip: circle(50%);
    margin-left: 5px;
}

header h1{
    text-align: center;
    flex: 1;
}

nav{
    height: 70px;
    display: flex;
    
}
nav ul{
    display: flex;
    justify-content:  space-around;
    list-style-type:  none;

}

nav ul li a{
    text-decoration: none;
    color: pink;

}

nav ul li a:hover{
    color: palevioletred;
}

.portada{
    border:  1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

.portada h1{
    margin-bottom: 10px;
}

.portada button{
    padding: 3px 35px;
    background-color: pink;
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(122, 121, 121);
}